 <mat-toolbar color="" class="bg-dark text-white">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>AgriEdge</span>
      <span class="example-spacer"></span>
      <button mat-button  class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="/home">
        <mat-icon>home</mat-icon> home
      </button>
      <button mat-button class="example-icon" aria-label="Example icon-button with share icon"routerLink="/contact">
        <mat-icon>phone</mat-icon>contact
      </button>
      <button mat-button class="example-icon" aria-label="Example icon-button with share icon"routerLink="/login">
        <mat-icon>exit_to_app</mat-icon>Login
      </button>
  </mat-toolbar>
  