/* .board-container{
    width: 100%;
    height: 100%;
  
}
.section{
    background-color: rgb(107, 107, 255);


    border-radius: 20px;
    width: calc(100% -100px);
    height: 33%;
    margin: 15px 200px 15px;
}
.content{
    color: aliceblue;
    text-align: center;
    padding-top: 65px;
    height: 100%;
    width: 50%;
    float: left;
}
.content h1 span{
    font-size: 60px;
    font-family:' sans-serif';
}
.content h2{
    font-size: 20px;
    font-family:' sans-serif';
}
.wimg{
    text-align: center;
    height: 100%;
    width: 50%;
    float : right;

}
.wimg img{

    margin-top: 55px;
    width: 200px;

}
.section ul li{
    list-style: none;
    float: left;
}
.section ul li div{
    width: 
    ;
} */
.gradient-custom {
    /* fallback for old browsers */
    background: #ffffff;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 236, 210, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 236, 210, 1))
    }
    
    .carousel-indicators li {
    background-color: #282828;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    }

