<div class="thumbnail-container">
    <div class="thumbnail" routerLink="../weather">
        <mat-icon>cloud</mat-icon>
        <div><b>20</b></div>
        <div>Weather</div>
    </div>
    <div class="thumbnail" routerLink="../marketprice">
        <mat-icon>money</mat-icon>
        <div><b>15</b></div>
        <div>Market price</div>
    </div>
    <div class="thumbnail" routerLink="../practice">
        <mat-icon>rowing</mat-icon>
        <div><b>6</b></div>
        <div>Practices</div>
    </div>
    <div class="thumbnail" routerLink="../adminsetting">
        <mat-icon>settings</mat-icon>
        <div><b>5</b></div>
        <div>Setting</div>
    </div>
</div>
