<div>
<!-- crops  -->
  <div class="head">
    <h1 class="mx-5 mt-2 font-weight-bold">Crops</h1>
    
  </div>
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>WEAT(GEHU)</mat-card-title>
        <mat-card-subtitle>Rs.40.00</mat-card-subtitle>
        <img mat-card-sm-image src="../../../assets/weat.jpg" >
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <!-- {{longText}} -->
    </mat-card-content>
</mat-card>
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Paddy(DHAN)</mat-card-title>
        <mat-card-subtitle>Rs.34.00</mat-card-subtitle>
        <img mat-card-sm-image src="../../../assets/paddy.jpg" >
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <!-- {{longText}} -->
    </mat-card-content>
</mat-card>
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>MAIZE(MAKKA)</mat-card-title>
        <mat-card-subtitle>Rs.45.00</mat-card-subtitle>
        <img mat-card-sm-image src="../../../assets/maize.jfif" >
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <!-- {{longText}} -->
    </mat-card-content>
</mat-card>
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>mustard(SARSO)</mat-card-title>
        <mat-card-subtitle>Rs.45.00</mat-card-subtitle>
        <img mat-card-sm-image src="../../../assets/mustard.jpg" >
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <!-- {{longText}} -->
    </mat-card-content>
</mat-card>
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>SOYA BEAN</mat-card-title>
        <mat-card-subtitle>Rs.45.00</mat-card-subtitle>
        <img mat-card-sm-image src="../../../assets/soyabeans.jpg" >
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <!-- {{longText}} -->
    </mat-card-content>
</mat-card>
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>MILLET(BAJRA)</mat-card-title>
        <mat-card-subtitle>Rs.45.00</mat-card-subtitle>
        <img mat-card-sm-image src="../../../assets/millet.jpg" >
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <!-- {{longText}} -->
    </mat-card-content>
</mat-card>
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>SUGER CANE(GANNA)</mat-card-title>
        <mat-card-subtitle>RS.54.00</mat-card-subtitle>
        <img mat-card-sm-image src="../../../assets/sugarcane.jpg" >
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <!-- {{longText}} -->
    </mat-card-content>
</mat-card><mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>GRAM(CHANA)</mat-card-title>
        <mat-card-subtitle>Rs.50.00</mat-card-subtitle>
        <img mat-card-sm-image src="../../../assets/gram.jpg" >
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <!-- {{longText}} -->
    </mat-card-content>
</mat-card>
</div>


